bs4
composio_crewai
composio_langchain
crewai==0.30.11
datasets==2.19.1
flask
langchain
langchain_community
langchain_google_genai
langchain_openai
openai
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability