llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index 
chromadb
sentence-transformers
open-clip-torch
composio-langgraph
langgraph
langchain-openai
transformers>=4.48.0 # not directly required, pinned by Snyk to avoid a vulnerability