llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index 
chromadb
sentence-transformers
open-clip-torch
composio-crewai
langchain-openai
crewai
open-clip-torch
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability